


body {
  font-size: 16px;  
  min-width: 992px !important;
}
.form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.3) !important;
}
.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.3) !important;
}
.form-control:focus,
.form-control:active {
  border-color: #adb1ba !important;
}

textarea.form-control {
  height: inherit !important;
}
.contact-wrap {
  background: #fff;
}

.dbox p a {
  color: black;
}

.dbox .icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #adb1ba;
  margin: 0 auto;
  margin-bottom: 20px;
}

.dbox .icon span {
  font-size: 20px;
  color: #fff;
}

.btn {
  padding: 12px 16px;
  cursor: pointer;
  border-width: 1px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  -webkit-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
  position: relative;
  margin-bottom: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover,
.btn:active,
.btn:focus {
  outline: none !important;
}

.btn.btn-primary {
  background: #adb1ba !important;
  border-color: #adb1ba !important;
  color: #fff;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
  border-color: #d1d6e4 !important;
  background: #d1d6e4 !important;
}