body{
    background-color: #e9ecf5;
}

/*HEADER*/
.navbar{
    background-color: #e9ecf5!important;
    
}
.nombre{
    padding: 1em;
    font-size: 60px!important;
    color: black!important;
}

.nombre, .nav-link{
    color: black!important;
    font-family: roboto, "Helvetica Neue"!important;
    text-align:center; 

}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 5rem;
}


.about{
    height: 500px;
}